*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    color: #9966CC;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-color: #333;
}
.header h1 {
    text-align: center;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
}

.main-content .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #9966CC;
    padding: 20px;
}

.main-content h5 {
    font-size: 1em;
    color: #333;
    text-align: center;
}

.main-content input {
    height: 40px;
    font-size: 1.4em;
    background-color: #333;
    text-align: right;
    padding: 3px;
}

.main-wrapper .keys {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-wrapper .keys .row {
    display: flex;
    justify-content: space-between;
}

.row .key {
    width: 50px;
    padding: 10px;
}
